<ngx-datatable
  class="material"
  [rows]="temp"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10"
  [selected]="selected"
  [selectionType]="'single'"
  (select)='onSelect($event)'>
  <ngx-datatable-column name="Id" prop="id"></ngx-datatable-column>
  <ngx-datatable-column name="Titulo" prop="title"></ngx-datatable-column>
  <ngx-datatable-column name="Autor" prop="autor"></ngx-datatable-column>
  <ngx-datatable-column name="Año" prop="anyo"></ngx-datatable-column>
  <ngx-datatable-column name="Tipo" prop="type.name"></ngx-datatable-column>
  <ngx-datatable-column name="Categoría" prop="category.name"></ngx-datatable-column>
</ngx-datatable>
<div style="padding-left: 1vw;">
  <button mat-mini-fab color="primary" (click)="openDialogNewResource()">
    <mat-icon>add</mat-icon>
  </button>
</div>
