<div fxFlex.gt-sm="40" fxFlex="100">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="55">
          <h1 class="ma-0">{{name}}</h1>
          <a href="javascript:;" class="block mt-xs mb-xs">{{email}}</a>
          <a href="javascript:;" class="block mt-xs mb-xs">{{role}}</a>
          <button mat-raised-button color="primary" (click)="changePass()" >Cambiar contraseña</button>
        </div>
        <div fxFlex="45">
          <figure>
            <div class="text-xs-center">
              <img src="assets/images/avatar.jpg" alt="" class="radius-circle">
            </div>
          </figure>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
