<div fxLayout="column" fFlexFill>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="titulo del producto" [(ngModel)]="title">
  </mat-form-field><p>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Autor" [(ngModel)]="autor">
  </mat-form-field><p>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Año" [(ngModel)]="anyo">
  </mat-form-field><p>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Contenido" [(ngModel)]="content">
  </mat-form-field><p>

  <mat-form-field>
    <mat-select placeholder="Tipo" [(ngModel)]="typeId" name="typeId">
      <mat-option *ngFor="let type of tipos" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
      <mat-select placeholder="Categoria" [(ngModel)]="categoryId" name="categoryId">
        <mat-option *ngFor="let category of categoria" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field><b>

  <button mat-raised-button color="primary" (click)="editResource()">Editar</button>
  <button mat-raised-button color="warn" (click)="borrar()">Eliminar</button>

